<div class="header">

  <div class="logo">
    <a class="lo" id="binocle">
      {% include svg/use.html id="vector--binocle" class="vector--binocle" %}
    </a>
    <a class="go" id="works">
      {% include svg/use.html id="vector--works" class="vector--works" %}
    </a>
  </div>

  {% include menu.html %}

  <div class="profile group hide" id="profile">
  {% capture prof %}{% include editables/profile.md %}{% endcapture %}
  {{ prof | markdownify }}
    <div class="contact">
      {% capture conta %}{% include editables/contact.md %}{% endcapture %}
      {{ conta | markdownify }}
    </div>
  </div>
</div>
