<ul class="menu group hide" id="menu">
  <li><a href="/works/mdcgallery/">MDC GALLERY</a></li>
  <li><a href="/works/housebm/">HOUSE B M</a></li>
  <li><a href="/works/housedm/">HOUSE D M</a></li>
  <li><a href="/works/housedl/">HOUSE D L</a></li>
  <li><a href="/works/basementgo/">BASEMENT G O</a></li>
  <li><a href="/works/acircleinasquare/">A CIRCLE IN A SQUARE</a></li>
  <li><a href="/works/spazio33/">SPAZIO33</a></li>
  <li><a href="/works/zumbini/">ZUMBINI OFFICES</a></li>
  <li><a href="/works/dancolen/">DAN COLEN SHOW</a></li>
  <li><a href="/works/kosho/">KOSHO</a></li>
  <li><a href="/works/housecv/">HOUSE C V</a></li>
  <li><a href="/works/unabox/">UNABOX</a></li>
  <li><a href="/works/yanpeiming/">ATELIER YAN PEI MING</a></li>
  <li><a href="/works/bastardstore/">BASTARD STORE</a></li>
  <li><a href="/works/gardenshe/">GARDENS H E</a></li>
  <li><a href="/works/patiovm/">PATIO V M</a></li>
</ul>

<!-- second version
PATIO V M > #patiovm (2007)
GARDENS H E > #gardenshe (2008)
BASTARD STORE #bastardstore (2008)
ATELIER YAN PEI MING > #yanpeiming (2008)
UNABOX > #unabox (2009)
HOUSE C V > #housecv (2009)
KOSHO > #kosho (2010)
DAN COLEN SHOW> #dancolen (2010)
ZUMBINI OFFICES #zumbini (2011)
SPAZIO33 > #spazio33 (2011)
A CIRCLE IN A SQUARE #acircleinasquare (2012)
BASEMENT G O #basementgo (2012)
HOUSE D L > #housedl (2015)
HOUSE D M > #housedm (2016)
HOUSE B M  > #housebm (2016)
MDC GALLERY > #mdcgallery (2016)

-->


<!-- first version

VUDA PATIO > #vudapatio (2007)
M28 GARDENS > #m28 (2008)
BASTARD STORE #bastardstore (2008)
ATELIER YAN PEI MING > #yanpeiming (2008)
UNABOX > #unabox (2009)
CHIODA HOUSE > #chioda (2009)
KOSHO > #kosho (2010)
DAN COLEN show > #dancolen (2010)
ZUMBINI OFFICES #zumbini (2011)
SPAZIO33 > #spazio33 (2011)
A CIRCLE IN A SQUARE #acircleinasquare (2012)
GIORDANO BASEMENT #giordano (2012)
LUBRIANO HOUSE > #lubriano (2015)
P66 HOUSE > #p66 (2016)
P81 HOUSE  > #p81 (2016)
MDC GALLERY > #mdcblgs (2016)

-->
