<ul class="menu group hide" id="menu">
  <li><a href="/clients/mdc/">mdc gallery</a></li>
  <li><a href="/clients/p66/">p66 house</a></li>
  <li><a href="/clients/p81/">p81 house</a></li>
  <li><a href="/clients/lubriano/">lubriano house</a></li>
  <li><a href="/clients/giordano/">giordano basement</a></li>
  <li><a href="/clients/acircleinasquare/">a circle in a square</a></li>
  <li><a href="/clients/spazio33/">spazio33</a></li>
  <li><a href="/clients/zumbini/">zumbini offices</a></li>
  <li><a href="/clients/dancolen/">dan colen show</a></li>
  <li><a href="/clients/kosho/">kosho</a></li>
  <li><a href="/clients/chioda/">chioda house</a></li>
  <li><a href="/clients/unabox/">unabox</a></li>
  <li><a href="/clients/yanpeiming/">atelier yan pei ming</a></li>
  <li><a href="/clients/bastardstore/">bastard store</a></li>
  <li><a href="/clients/m28/">m28 gardens</a></li>
  <li><a href="/clients/vudapatio/">vuda patio</a></li>

</ul>


<!--

VUDA PATIO > #vudapatio (2007)
M28 GARDENS > #m28 (2008)
BASTARD STORE #bastardstore (2008)
ATELIER YAN PEI MING > #yanpeiming (2008)
UNABOX > #unabox (2009)
CHIODA HOUSE > #chioda (2009)
KOSHO > #kosho (2010)
DAN COLEN show > #dancolen (2010)
ZUMBINI OFFICES #zumbini (2011)
SPAZIO33 > #spazio33 (2011)
A CIRCLE IN A SQUARE #acircleinasquare (2012)
GIORDANO BASEMENT #giordano (2012)
LUBRIANO HOUSE > #lubriano (2015)
P66 HOUSE > #p66 (2016)
P81 HOUSE  > #p81 (2016)
MDC GALLERY > #mdcblgs (2016)

-->
