/* apply a natural box layout model to all elements, but allowing components to change*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: $font;
  font-size: 1rem;
  font-weight: 200;
  margin:0;
  padding:0;
  background-color:$bg_color;
}

.hide {display: none;}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear: both; }

a {
  font-weight: 200;
  text-decoration: none;
  color:$link_color;
  text-transform: capitalize;
  &.active { color:black; }
}

/*SVGs*/
svg{
  width:100%;
  height:100%;
}

/*wrap*/
.bungkus{
  padding: $vertical_rhythm 0 0 0;
  max-width: 100%;
  overflow-x: hidden;
  @include media( "screen", ">bp1Width") {/*800*/
      width: 90vw;
      max-width: 1200px;
      margin: 0 auto;
  }
  @include media( "screen", ">maxWidth") {/*1260*/
      width: 90vw;
      max-width: 1920px;/* max photo pixel size*/
      margin: 0 auto;
  }
}

.text_content {
  max-width: 960px;
  @include media( "screen", ">bp1Width") {
    margin: 0 auto;
  }
}

.site_title {
  text-transform: uppercase;
}

.footer{
  display: block;
  margin-top: $vertical_rhythm;
  margin-bottom: $vertical_rhythm*2;
  width: 100%;
  text-align: center;
}

/*bug: Istagram currently serve 640px only...*/
img[src*="cdninstagram"] {
  max-width: 640px;
  margin: 0 auto;
  a & {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/*footer*/
.go_home {
  display: block;
  height: 3rem;
  background: url(/safari-pinned-tab.svg) no-repeat top center;
  background-size: 3rem 3rem;
  text-indent: -9999px;
}

/*pictureoftheday*/
.pictureoftheday {
  padding-left:2rem;
  padding-right:2rem;

  .showing_profile & {
    display: none;
  }
  .showing_menu & {
    display: none;
  }
}
