// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: $font;
  font-size: 1rem;
  font-weight: 200;
  margin:0;
  padding:0;
  background-color:$bg_color;
}

.hide {display: none;}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear: both; }

a {
  font-weight: 200;
  text-decoration: none;
  color:$link_color;
  text-transform: capitalize;
  &.active { color:black; }
}

//SVGs
svg{
  width:100%;
  height:100%;
}

//wrap
.bungkus{
  padding: 1rem 0;
  max-width: 100%;
  @include media( "screen", ">bp1Width") {
      max-width: 800px;
      margin: 0 auto;
  }
}

.footer{
  display: block;
  position: relative;
  bottom: 1rem;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}


//footer
.go_home {
  display: block;
  height: 2rem;
  background: url(/safari-pinned-tab.svg) no-repeat top center;
  background-size: 2rem 2rem;
  text-indent: -9999px;
  // &:before {
  //   content: "";
  //   width: 10rem;
  //   height: 2rem;
  //   background: #e0e0e0 url('data:image/svg+xml;dataset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 13"><path fill="#59a6ca" d="M15.57 2.845L14.238 1.51c-.13-.13-.353-.13-.48 0L6.66 8.623l-3.093-3.11c-.13-.13-.352-.13-.482 0L1.75 6.845c-.128.13-.128.352 0 .48l4.67 4.67c.073.055.147.092.24.092s.167-.037.24-.093l8.67-8.67c.13-.13.13-.35 0-.48z"/></svg>') 50% 50% no-repeat;
  // }
}
