html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a,
button,
input,
label,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: $bg_color;
}

.hide {
  display: none;
}

.group:after,
.group:before {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

a {
  text-decoration: none;
  color: $link_color;
  text-transform: capitalize;

  &.active {
    color: lighten($link_color, 40%);
  }
}

svg {
  width: 100%;
  height: 100%;
}

.bungkus {
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  @include media("screen", ">bp1Width") {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
  }
  @include media("screen", ">maxWidth") {
    width: 90vw;
    max-width: 1920px;
    margin: 0 auto;
  }
}

.text_content {
  max-width: 960px;
  @include media("screen", ">bp1Width") {
    margin: 0 auto;
  }
}

.site_title {
  text-transform: uppercase;
}

.footer {
  display: block;
  margin-top: $vertical_rhythm;
  margin-bottom: $vertical_rhythm;
  padding-bottom: $vertical_rhythm/2;
  width: 100%;
  text-align: center;
}

img[src*="cdninstagram"] {
  max-width: 640px;
  margin: 0 auto;

  a & {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.go_home {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  svg {
    height: 2.75rem;
    width: 2.75rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.pictureoftheday:hover {
  cursor: pointer;
}

.pictureoftheday img {
  width: 100%;
  // @media only screen and (min-width: 640px) {
  //   width: auto;
  // }
}

.shots {
  .showing_profile & {
    display: none;
  }

  .showing_menu & {
    display: none;
  }
}

.showing_menu #see_more_icon {
  display: none;
}

:not(.showing_menu) #binocle_mini_logo {
  display: none;
}

.home #binocle_mini_logo {
  display: block;
}

.showing_menu #binocle_mini_logo {
  display: block;
}
