/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: $font;
  font-size: 1rem;
  font-weight: 200;
  margin:0;
  padding:0;
  background-color:$bg_color;
}

.hide {display: none;}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear: both; }

a {
  font-weight: 200;
  text-decoration: none;
  color:$link_color;
  text-transform: capitalize;
  &.active { color:black; }
}

//menu: it's an <ul>
.menu {
  list-style: none;
  padding: 0;
  margin: 3rem 0 0 0;
  @include media( "screen", ">bp1Width") {margin: 5rem 0 0 0;}
  li {
    text-align: center;
    margin: .5rem 0;

    a {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1rem;
      @include media( "screen", ">minWidth") {font-size: 1.5rem;}
      &:hover {
        color: lighten($link_color,20%);
      }
     }

   }
 }



//wrap
.bungkus{
  padding: 1rem 0;
  max-width: 96%;
  margin: 0 auto;
  @include media( "screen", ">bp1Width") {
      max-width: 800px;
  }
}

//profile
.profile{
  max-width: 100%;
  margin: 3rem auto;
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
  padding: 0 .5rem;
  @include media( "screen", ">minWidth") {
      text-align: justify;
  }
  &:before {
    content: "";
    display: block;
    margin: 10vw auto 0 auto;
    background-image: url(/p/binisquare.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50vw 50vw;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    @include media( "screen", ">minWidth") {
      background-size: 40vw 40vw;
      width: 40vw;
      height: 40vw;
      border-radius: 50%;
    }
    @include media( "screen", ">bp1Width") {
      background-size: 30vw 30vw;
      width: 30vw;
      height: 30vw;
      border-radius: 50%;
    }
  }
  h2{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.1rem;
    @include media( "screen", ">bp1Width") { font-size: 1.5rem;}
  }
  .curri_link{
    display: block;
    text-align: center;
    width: 100%;
  }
  .contact{
    text-align: center;
  }
  strong{
    font-weight: 400;
  }
  em {
    display: block;
    width: 100%;
    font-style: normal;
    text-align: center;
  }

}
.contact a { text-transform: lowercase; }


// flexbox
.sucked_shots {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  .tagged .work & {
    margin-top: 2rem;
    -webkit-box-ordinal-group:3;
    order:2;
  }
  .intro {
    padding:0 .5rem 2rem .5rem;
    font-size:1.2rem;
    text-align: left;
    @include media( "screen", ">minWidth") { text-align: justify;}
    a {
      border-bottom: 1px solid gray;
      &:hover{
        border-bottom: 1px solid black;
      }
    }
    table { width: 100%;}
  }
  div:nth-child(2) .work & {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  div:nth-child(3) {
    -webkit-box-ordinal-group:0;
    order:-1;

  }
}

//images
.tagged {
  width: 100%;
  display: block;
  float: left;
  margin: 0;
  position: relative;
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px 6px 0 0;
    z-index: 1;
    a {
      font-weight: lighter;
      font-weight: 100;
      font-size: 3rem;
      line-height: .1;
      padding: 0;
      margin: 0;
      color: lighten(black,85%);
    }
  }
  img {
    width: 100%;
  }
}

.caption {
  width: 100%;
  padding: .5rem 0 0 4.25rem;
  text-align: ledt;
  font-size: .75rem;
  min-height: 48px;
  @include media( "screen", ">bp1Width") { font-size: 1rem;}
}


.footer{
  display: block;
  position: relative;
  bottom: 1rem;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}


.project_name {
  font-size: 2rem;
  @include media( "screen", ">minWidth") { font-size: 2.5rem;}
  @include media( "screen", ">bp1Width") { font-size: 3rem;}
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
