.header {
 display: block;
 margin: $vertical_rhythm/2 0;
 height: 9vw;
 .showing-menu &,
 .showing-profile & {
   height: auto;
 }
}

.logo {
  width: 100%;
  svg {
    height: 7vw;
    max-height: 50px;
    &:hover { cursor: pointer;}
  }
}

//menu: it's an <ul>
.menu {
  list-style: none;
  padding: 0;
  margin: $vertical_rhythm 0;

  li {
    text-align: center;
    margin: .5rem 0;

    a {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1rem;
      @include media( "screen", ">minWidth") {font-size: 1.5rem;}
      &:hover {
        color: lighten($link_color,20%);
      }
     }
   }
 }
