//bg

//<h1>
.logo{
  width: 100%;
  .lo, .go{
    max-height: 15px;
    @include media( "screen", ">minWidth") {
      min-height: 30px;
    }
    @include media( "screen", ">bp1Width") {
      min-height: 50px;
    }
    cursor: pointer;
    display: block;
    float: left;
    width: 45%;
    overflow: hidden;
    text-indent: -9999px;
  }
}

//<a>
//binocle
.lo {
  margin-right:5%;
  background: url('data:image/svg+xml;utf8,<svg shape-rendering="geometricPrecision" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 294.7 50"><path d="M25.6 23.9c5.5-1.7 7.7-5.5 7.7-10.3v-.3C33.3 4.5 27.4.7 17.4.7H0v48.6h18.7c10.7 0 16.7-4.6 16.7-13.6v-.3c-.1-6.4-3.2-10-9.8-11.5M8.8 7.2h7.3c5.8 0 8.4 2 8.4 6.6v.2c0 5-2.3 7.1-8.3 7.1H8.8V7.2zm17.6 27.9c0 5-2.8 7.7-8.8 7.7H8.8V27.3H17c6.7 0 9.4 2.5 9.4 7.5v.3zM44.1.7h9.1v48.6h-9.1zM96 35.8L75.5.7H64.7v48.6h8.2V12.1l21.9 37.2h9.4V.7H96M234.7.7h-9v48.6h29.7v-7.2h-20.7M272.2 42.2V28h17.1v-6.8h-17.1V7.8h21.3V.7h-30.4v48.6h31.6v-7.1M193 42.7c-1.8 0-3.4-.3-5-.8-3.4-1.2-6.2-3.5-8-6.9-1.5-2.7-2.3-6-2.3-9.8v-.5c0-.8 0-1.5.1-2.2.3-3.7 1.4-6.9 3.1-9.4 2.6-3.7 6.7-5.9 12-5.9 6.9 0 11.8 3.9 13.9 9.9h9.6C213.5 6.9 204.7 0 192.9 0c-8.3 0-15.1 3.5-19.5 9.1-2.6-.8-5.4-1.3-8.4-1.3-2.8 0-5.5.4-8 1.2-4.3-5.6-11.1-9-19.5-9-14.4 0-24.6 10.5-24.6 24.7v.5c0 14 9.7 24.7 24.6 24.7 2.9 0 5.5-.4 8-1.2 3-.9 5.6-2.3 7.8-4.1 5.5-4.5 8.7-11.4 8.7-19.6v-.5c0-3.2-.5-6.2-1.5-8.9 1.4-.4 2.9-.6 4.5-.6 1.7 0 3.3.2 4.8.7-1 2.8-1.5 5.8-1.5 9v.5c0 8 3.2 14.9 8.6 19.3 2.2 1.8 4.7 3.2 7.6 4.1 2.6.8 5.4 1.3 8.4 1.3 11.8 0 20.4-6.8 23.3-16.8h-9.6c-2.2 6-7 9.6-13.6 9.6m-51.1-.6c-1.3.4-2.7.6-4.2.6-8.8 0-15.3-6.9-15.3-17.5v-.5c0-10.5 5.6-17.5 15.2-17.5 5.2 0 9.2 2.2 11.8 5.8 1.7 2.4 2.8 5.4 3.1 8.8.1.9.2 1.8.2 2.8v.5c0 4.2-.9 7.8-2.6 10.7-1.9 3.2-4.7 5.4-8.2 6.3"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  box-sizing: border-box;
}

//works
.go {
  margin-left:5%;
  background: url('data:image/svg+xml;utf8,<svg shape-rendering="geometricPrecision" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244.5 50"><path d="M0 .7h9.2l8.5 35.7L27.1.7h7.5l9.7 35.9L53 .7h8.4L49.2 49.3h-9l-9.6-35.4-9.9 35.4h-8.6M64.6 25.3v-.5C64.6 10.6 74.8 0 89.2 0c14.5 0 24.5 10.3 24.5 24.5v.5c0 14.2-9.7 24.9-24.5 24.9-14.9.1-24.6-10.6-24.6-24.6m39.7-.1v-.5c0-10-5.6-17.4-15.1-17.4S74 14.3 74 24.8v.5c0 10.6 6.5 17.5 15.3 17.5 9.2-.1 15-7.1 15-17.6M122.4.7h16.3c10.7 0 18.2 4.4 18.2 14.3v.3c0 7.6-4.8 11.5-10.8 13.1l13.7 21H150l-12.7-19.7h-5.8v19.7h-9V.7zm16.3 22.5c6.1 0 9.2-2.6 9.2-7.8v-.3c0-5.6-3.5-7.5-9.2-7.5h-7.3v15.5h7.3zM166.9.7h9.1v22L194.6.6h9.7l-20.1 23.3 21.2 25.4h-10.7L176 26.6v22.7h-9.1M207.1 34.2h8.7c.6 4.9 2.6 9 10.8 9 5.4 0 9.2-3 9.2-7.5s-2.2-6.2-10.1-7.5c-11.6-1.6-17.1-5.1-17.1-14.2 0-8 6.8-13.9 16.9-13.9 10.5 0 16.7 4.8 17.7 14.1h-8.3c-.9-5.1-3.8-7.3-9.4-7.3-5.5 0-8.4 2.7-8.4 6.4 0 3.9 1.6 5.9 10.1 7.1 11.4 1.6 17.3 4.8 17.3 14.5 0 8.4-7.1 15-17.9 15-13.3.1-18.9-6.5-19.5-15.7"/></svg>');
  background-repeat: no-repeat;
  background-position: left center;
  box-sizing: border-box;
}
