
.profile{
  max-width: 100%;
  margin: 3rem auto 8rem auto;
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
  padding: 0 $vertical_rhythm;
  @include media( "screen", ">minWidth") {
      text-align: justify;
      &:after{
        content: "";
        background: url(/safari-pinned-tab.svg) no-repeat center center;
        background-size: contain;
        width: 2rem;
        height: 2rem;
        position: relative;
        left: calc(50% - 1rem);
      }
  }

  h2{
    margin-top: $vertical_rhythm;
    text-align: center;
    font-size: 1.1rem;
    @include media( "screen", ">bp1Width") { font-size: 1.5rem;}
  }

  .curri_link{
    display: block;
    text-align: center;
    width: 100%;
  }

  .contact{
    text-align: center;
  }

  strong{ font-weight: 400; }

  em {
    display: block;
    width: 100%;
    font-style: normal;
    text-align: center;
  }

}
.contact a { text-transform: lowercase; }
