.profile {
  max-width: 100%;
  margin: $vertical_rhythm auto 0;
  font-size: 1rem;
  text-align: left;
  padding: 0 $vertical_rhythm;
  @include media("screen", ">minWidth") {
    text-align: justify;
  }

  .profile_photo {
    width: 100%;
    display: block;
    float: none;
    margin: 0 auto 2.5rem;
    position: relative;
    max-width: 640px;
  }

  .curri_link {
    display: block;
    text-align: center;
    width: 100%;
  }

  .contact {
    padding-top: $vertical_rhythm/2;
    padding-bottom: $vertical_rhythm/2;
    text-align: center;
  }

  strong {
    font-weight: 400;
  }

  em {
    display: block;
    width: 100%;
    font-style: normal;
    text-align: center;
  }

  p {
    padding: 0 $vertical_rhythm;
    @include media("screen", ">minWidth") {
      padding: 0 $vertical_rhythm/2;
    }
    @include media("screen", ">bp1Width") {
      padding: 0;
    }
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
  }
}

.contact a:not(.instagram) {
  text-transform: lowercase;
}

.showing_profile .footer {
  display: none;
}
