.work_name {
  //h2
  font-size: 2rem;
  @include media("screen", ">minWidth") {
    font-size: 2.5rem;
  }
  @include media("screen", ">bp1Width") {
    font-size: 3rem;
  }
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}


.intro {
  font-size: 1.1rem;
  text-align: left;
  @include media("screen", ">bp1Width") {
    text-align: justify;
  }

  p {
    margin-left: $vertical_rhythm*2;
    margin-right: $vertical_rhythm*2;
  }

  table {
    padding: $vertical_rhythm $vertical_rhythm*2 $vertical_rhythm*2;
    display: block;
    font-size: 1rem;

    a {
      text-transform: none;
      &:hover {
        color: black;
      }
    }

    td:first-child {
      width: 220px;
      font-style: italic;
      @include media("screen", "<bp1Width") {
        padding-top: 0.5rem;
      }
    }

    td {
      text-align: left;
      padding-bottom: 0.25rem;
      vertical-align: baseline;
      @include media("screen", "<bp1Width") {
        display: block;
        width: 70vw;
      }
    }
  }
}

.image_wrap {
  width: 100%;
  display: block;
  float: left;
  margin: 0 0 $vertical_rhythm/2;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}
