//h2
.work_name {
  font-size: 2rem;
  @include media( "screen", ">minWidth") { font-size: 2.5rem;}
  @include media( "screen", ">bp1Width") { font-size: 3rem;}
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}


.sucked_shots {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  //3 > 1
  * {
    -webkit-box-ordinal-group:2;
    order:1;
  }
  //3 > 1
  :nth-child(3) {
    -webkit-box-ordinal-group:0;
    order:-1;
  }
}


.sucked_shots:nth-child(1) {
background-color: red;
margin: $vertical_rhythm 0;
}

.intro {
  font-size:1.1rem;
  text-align: left;
  @include media( "screen", ">bp1Width") { text-align: justify;}
  p {
    padding:0 $vertical_rhythm*2;
  }

  table {
    padding:$vertical_rhythm $vertical_rhythm*2 $vertical_rhythm*2 $vertical_rhythm*2;
    display: block;
    //width: 100%;
    font-size: 1rem;
    td:first-child {
      width: 220px;
      font-style: italic;
      @include media( "screen", "<bp1Width") {
        padding-top: .5rem;
      }
    }
    td {
      text-align: left;
      padding-bottom: .25rem;;
      vertical-align: baseline;
      @include media( "screen", "<bp1Width") {
        display: block;
        width: 70vw;
      }
    }

  }
}

.go_away_link {
  width: 100%;
  display: block;
  float: left;
  margin: 0;
  margin-bottom: .5rem;
  position: relative;

  img {
    width: 100%;
  }
}
