this works:
{% for myimage in site.static_files %}{% if myimage.path contains 'acircleinasquare' %}<p>{{myimage.path}}</p>{% endif %}{% endfor %}

but outputs:

/assets/p/acircleinasquare/acircleinasquare-01-1024.jpg
/assets/p/acircleinasquare/acircleinasquare-01-1920.jpg
/assets/p/acircleinasquare/acircleinasquare-01-640.jpg
/assets/p/acircleinasquare/acircleinasquare-02-1024.jpg
/assets/p/acircleinasquare/acircleinasquare-02-1920.jpg
/assets/p/acircleinasquare/acircleinasquare-02-640.jpg
/assets/p/acircleinasquare/acircleinasquare-03-1024.jpg
/assets/p/acircleinasquare/acircleinasquare-03-1920.jpg
/assets/p/acircleinasquare/acircleinasquare-03-640.jpg
/assets/p/acircleinasquare/acircleinasquare-04-1024.jpg


___

        <!-- {% for i in (1..20) %}
          <img src="/assets/p/{{page.hash}}/{{page.hash}}-{{ i }}-1920.jpg"><br>
        {% endfor %} -->

        <!-- {% for image in site.static_files %}
            {% if image.path contains 'images/slider' %}
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endif %}
        {% endfor %} -->
        # array: [01,02,03,04,05,06]
        {% if array contains 02 %}
   array includes 22
{% endif %}




one digit number no good
<!-- {% for i in (1..20) %}
  <img src="/assets/p/{{page.hash}}/{{page.hash}}-{{ i }}-1920.jpg"><br>
{% endfor %} -->



<!-- {% for image in site.static_files %}
    {% if image.path contains 'images/slider' %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %} -->


{% assign projects = site.data.works | get_projects_from_files | sort %}
{% for i in (1..item.quantity) %}
{{ i }}
{% endfor %}

<!-- if collections.frontpage.products contains 4 products -->
<!-- {% for product in collections.frontpage.products %}
{% if forloop.first %}
<p>This collection has {{ forloop.length }} products:</p>
{% endif %}
<p>{{ product.title }}</p>
{% endfor %} -->


<!--

{% assign projects = site.data.works | get_projects_from_files | sort %}

<div class="flex-container">
{% for project in projects reversed %}

<div class="flex-item" style="background-image: url(/img/projects/{{ project.bg-image }}); background-repeat: no-repeat">
<a href="../images/projects/{{ project.lb-images[0] }}" data-lightbox="{{ project.title }}" data-title="{{ project.bg-image }}">
</a>
</div>
{% for img in project.lb-images %}
{% if forloop.first != true %}
<a href="../images/projects/{{ img }}" data-lightbox="{{ project.title }}" data-title="{{ project.bg-image }}"></a>
{% endif %}
{% endfor %}
{% endfor %}
</div> -->
