---

---
{% assign instafeed_img = '{{image}}' %}
{% assign instafeed_link = '{{link}}' %}
{% assign instafeed_likes = '{{likes}}' %}
{% assign instafeed_caption = '{{caption}}' %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    <div class="bungkus group">

      {% include header.html %}

      <div id="instafeed" class="sucked_shots group"></div>

    </div>

    {% include footer.html %}

    {% include script_menu_toggle.html %}
    {% include script_profile_toggle.html %}
    {% include script_google_analytics.html %}

  </body>

</html>
