---

---
{% assign instafeed_img = '{{image}}' %}
{% assign instafeed_link = '{{link}}' %}
{% assign instafeed_likes = '{{likes}}' %}
{% assign instafeed_caption = '{{caption}}' %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="home">

    <div class="bungkus group">

      {% include header.html %}

      <div id="instafeed" class="shots pictureoftheday group">
        <img src="/assets/pictureoftheday/picture-of-the-day.jpg" alt="">
      </div>

    </div>

    <footer class="footer" id="toggle_about_binocle">
      <span class="go_home">

        {% include svg_oc.html %}

      </span>
    </footer>

    <!-- <script type="text/javascript" src="/assets/js/instafeed.min.js"></script> -->

    {{ content }}

    <!-- <script type="text/javascript">
      var userFeed = new Instafeed({
          get: 'user',
          userId: '{{site.userId}}',
          clientId: '{{site.clientId}}',
          accessToken: '{{site.accessToken}}',
          sortBy: 'most-liked',
          resolution: 'standard_resolution',
          links: 'false',
          target: 'instafeed',
          template: '<img alt="this is Binocle latest featured image from our Instagram feed" src="{{instafeed_img}}" />',
          filter: function(image) {
            return image.tags.indexOf('{{page.hash}}') >= 0;
          }
        });
      userFeed.run();
    </script> -->

    {% include script_menu_toggle.html %}

    <script type="text/javascript">
      document.getElementById('instafeed').addEventListener('click', function() {
        if (document.body.classList.contains('showing_profile')) {
            toggleClass(document.getElementById('profile'), 'hide'),
            toggleClass(document.body, 'showing_profile');
        }
        toggleClass(document.getElementById('menu'), 'hide'),
        toggleClass(document.body, 'showing_menu');
      });
    </script>

    {% include script_profile_toggle.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
