---

---
{% assign instafeed_img = '{{image}}' %}
{% assign instafeed_link = '{{link}}' %}
{% assign instafeed_likes = '{{likes}}' %}
{% assign instafeed_caption = '{{caption}}' %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    <div class="bungkus group">

      {% include header.html %}

      <div id="instafeed" class="sucked_shots group"></div>

    </div>

    {% include footer.html %}


    <script type="text/javascript" src="/assets/js/instafeed.min.js"></script>

    {{ content }}

    <script type="text/javascript">
      var userFeed = new Instafeed({
          get: 'user',
          userId: '{{site.userId}}',
          clientId: '{{site.clientId}}',
          accessToken: '{{site.accessToken}}',
          sortBy: 'most-liked',
          resolution: 'standard_resolution',
          links: 'false',
          limit: '2',
          target: 'instafeed',
          template: '<a class="go_away_link {{page.hash}}" href="{{instafeed_link}}"><img src="{{instafeed_img}}" /></a>',
          filter: function(image) {
            return image.tags.indexOf('{{page.hash}}') >= 0;
          }
        });
      userFeed.run();
    </script>

    {% include script_menu_toggle.html %}
    {% include script_profile_toggle.html %}
    {% include script_google_analytics.html %}

  </body>

</html>
