---

---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="works">

    <div class="bungkus group">

      {% include header.html %}

      <div id="instafeed" class="{{page.hash}} sucked_shots group">

        <h2 class="work_name">{{page.project}}</h2>

        <div class="intro">{{ content | markdownify }}</div>

        <div class="sucked_shots">
          <img src="/assets/p/{{page.hash}}-01-1920.jpg" alt="{{page.project | uppercase }}" />
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include script_menu_toggle.html %}
    {% include script_profile_toggle.html %}
    {% include script_google_analytics.html %}

  </body>

</html>
