---

---
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="works">

    <div class="bungkus group">

      {% include header.html %}

      <div id="instafeed" class="{{page.hash}} shots group" itemscope itemtype="http://schema.org/Article">

        <h2 class="work_name" itemprop="name">{{page.project}}</h2>

        <div class="intro text_content" itemprop="description">{{ content | markdownify }}</div>


        {% if page.image1 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-01-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image2 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-02-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image3 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-03-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image4 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-04-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image5 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-05-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image6 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-06-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image7 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-07-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image8 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-08-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image9 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-09-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image10 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-10-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image11 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-11-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image12 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-12-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image13 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-13-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image14 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-14-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image15 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-15-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image16 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-16-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image17 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-17-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image18 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-18-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image19 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-19-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image20 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-20-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image21 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-21-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image22 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-22-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image23 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-23-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image24 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-24-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image25 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-25-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image26 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-26-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image27 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-27-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image28 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-28-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image29 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-29-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}

        {% if page.image30 %}
        <div class="image_wrap {{page.hash}}">
          <div class="delayed-image-load" data-src="/assets/p/{{page.hash}}/{{page.hash}}-30-{width}.jpg" data-alt="{{page.project | uppercase }}"></div>
        </div>
        {% endif %}



      </div>

    </div>

    {% include footer.html %}

    {% include script_imager.html %}

    {% include script_menu_toggle.html %}

    <script type="text/javascript">
      document.getElementById('see_more_icon').addEventListener('click', function() {
        if (document.body.classList.contains('showing_profile')) {
            toggleClass(document.getElementById('profile'), 'hide'),
            toggleClass(document.body, 'showing_profile');
        }
        toggleClass(document.getElementById('menu'), 'hide'),
        toggleClass(document.body, 'showing_menu');
      });
    </script>

    <script type="text/javascript">
      document.getElementById('toggle_about_binocle').addEventListener('click', function() {
        if (document.body.classList.contains('showing_menu')) {
            toggleClass(document.getElementById('menu'), 'hide'),
            toggleClass(document.body, 'showing_menu');
        }
        toggleClass(document.getElementById('profile'), 'hide'),
        toggleClass(document.body, 'showing_profile');
      });
    </script>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
